<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h2>전체 부서 조회</h2>
		<table>
			<thead>
				<tr>
					<th>부서 아이디</th>
					<th>부서 이름</th>
					<th>관리자 아이디</th>
					<th>지역 아이디</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="lists:${departs}">
				<tr>
					<td th:text="${lists.departmentId}"></td>
					<td th:text="${lists.departmentName}"></td>
					<td th:text="${lists.managerId}"></td>
					<td th:text="${lists.locationId}"></td>
				</tr>		
				</th:block>
			</tbody>
		</table>
	</div>
	<script>
		const clc = $('meta[name="contextPath"]').attr('value');
		$('tbody > tr').on('click', function(event){
			let tr = event.currentTarget;
			let did = $(tr).children().eq(0).text();
			let url = clc + '/departInfo?departmentId=' + did;
			location.href = url;
		});
	</script>
</body>
</html>